<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret</title>
</head>
<body>
    {{>navbar}}
    <h1>YOU ARE OUR USER.THIS PAGE IS ONLY FOR AUTORIZED USER</h1>
</body>
</html>